/* -------------------- General styles --------------------*/
:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --primary-black-logo-color: #000000;
  --primary-white-logo-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -------------------- Header styles --------------------*/

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo-studio {
  color: var(--primary-black-logo-color);
}

.header-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}
/* -------------------- Hero styles --------------------*/

.hero {
  background: var(--second-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-logo-color);
  max-width: 696px;
  margin: 0 auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-logo-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  border-color: transparent;
}

/* -------------------- Benefits styles --------------------*/

.benefits-item-subtitle {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* -------------------- Work styles --------------------*/

.work-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* -------------------- Team styles --------------------*/

.team {
  background: var(--section-bg-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-item-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* -------------------- Footer styles --------------------*/

.footer {
  background-color: var(--second-bg-color);
}
.footer-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo-studio {
  color: var(--primary-white-logo-color);
}
address {
  font-style: normal;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-logo-color);
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* -------------------- Portfolio styles --------------------*/

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-white-logo-color);
  background-color: var(--accent-color);
}
.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
